* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
}
.box {
  height: 2000px;
  margin: auto;
  width: 50%;
  background-color: pink;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: gray;
  color: white;
}

.nav p {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}

.fixed {
  position: sticky;
  top: 0;
}

.hide {
  transform: translateY(-12rem);
}

@media (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}
